---
import Group from '../../components/Group.astro';
import ColumnSticky from '../../components/ColumnSticky.astro';
import Text from '../../components/Text.astro';

interface Props {
    sectionData: {
        title: string;
        txtColor: string;
        bgColor: string;
        backgroundImage: string;
        body: string;
    }
}

const { sectionData } = Astro.props;
const { 
    title, 
    txtColor, 
    bgColor, 
    backgroundImage,
    body 
} = sectionData;

// Dynamically import the background image
const imgPath = `../../assets/images/${backgroundImage}`;
const { default: img } = await import(imgPath, { assert: { type: 'image' } });
---

<Group txtColor={txtColor} bgColor={bgColor} imgBg={img.src}>
    <ColumnSticky paddingTop paddingBottom layout="text-bigger">
        {/* Main title highlighting the importance of Alter do Chão */}
        <h1 slot="title">{title}</h1>
        
        <Text>
            <Fragment set:html={body} />
        </Text>
    </ColumnSticky>
</Group>
