---
import { type IntroductionSectionProps } from '../../types/introduction-section';
import Group from '../../components/Group.astro';
import ColumnSticky from '../../components/ColumnSticky.astro';
import Text from '../../components/Text.astro';

interface Props {
    title?: string;
    txtColor?: string;
    bgColor?: string;
    backgroundImage?: string;
    body?: string;
    sectionData?: IntroductionSectionProps;
    class?: string;
}

const { 
    sectionData,
    title: propTitle, 
    txtColor: propTxtColor, 
    bgColor: propBgColor,
    backgroundImage: propBgImage,
    body: propBody,
    class: className,
} = Astro.props;

// Use either direct props or sectionData
const title = propTitle || sectionData?.title;
const txtColor = propTxtColor || sectionData?.txtColor;
const bgColor = propBgColor || sectionData?.bgColor;
const backgroundImage = propBgImage || sectionData?.backgroundImage;
const body = propBody || sectionData?.body;

// Dynamically import the background image if provided
let imgSrc;
if (backgroundImage) {
    const imgPath = `../../assets/images/${backgroundImage}`;
    const { default: img } = await import(imgPath, { assert: { type: 'image' } });
    imgSrc = img.src;
}
---

<section class:list={['introduction-section', className]}>
    <Group txtColor={txtColor} bgColor={bgColor} imgBg={imgSrc}>
        <ColumnSticky paddingTop paddingBottom layout="text-bigger">
            {title && <h1 slot="title">{title}</h1>}
            
            {body && 
                <Text>
                    <Fragment set:html={body} />
                </Text>
            }
            <slot />
        </ColumnSticky>
    </Group>
</section>

<style>
    .introduction-section {
        width: 100%;
    }
</style>
