---
// Import necessary components
import Map from '../../components/Map.astro';
import Timeline from '../../components/Timeline.astro';
import TimelineBullet from '../../components/TimelineBullet.astro';
import Text from '../../components/Text.astro';

// Import markdown content
const content = await import('../../contents/home/MapTimelineSection.md');
const { timelineItems } = content.frontmatter;
---

<Map
    columnAlign="right"
    floatingText={false}
    txtColor="#F0EAD9"
    bgColor="#006A49"
>
    <Timeline>
        {timelineItems.map((item, index) => (
            <>
                <TimelineBullet text={item.date} />
                <Text>
                    {item.title && (
                        <h6>{item.title}</h6>
                    )}
                    <p>{item.content}</p>
                </Text>
            </>
        ))}
    </Timeline>

    <Fragment set:html={content.compiledContent()} />
</Map>
