---
// Import necessary Astro components
import Group from '../../components/Group.astro';
import ColumnSticky from '../../components/ColumnSticky.astro';
import Text from '../../components/Text.astro';

// Import background image for the section
import img from '../../assets/images/group-bg.png';

// Import markdown content
const content = await import('../../contents/index/IntroductionSection.md');
const { 
    title, 
    txtColor, 
    bgColor, 
} = content.frontmatter;
---

<Group txtColor={txtColor} bgColor={bgColor} imgBg={img.src}>
    <ColumnSticky paddingTop paddingBottom layout="text-bigger">
        {/* Main title highlighting the importance of Alter do Chão */}
        <h1 slot="title">{title}</h1>
        
        <Text>
            {content.compiledContent().split('\n').map((paragraph) => (
                <p set:html={paragraph} />
            ))}
        </Text>
    </ColumnSticky>
</Group>
