---
import { getEntry } from 'astro:content';
import Map from '../../components/Map.astro';
import Text from '../../components/Text.astro';
import MapView from '../../components/MapView.astro';
import Spacer from '../../components/Spacer.astro';
import TextPlaceholder from '../../components/TextPlaceholder.astro';

const content = await getEntry('index', 'MapSection');
---

{content.data.sections.map((section) => (
  <Map
    columnAlign={section.columnAlign}
    floatingText={section.floatingText ?? false}
    txtColor={section.txtColor}
    bgColor={section.bgColor}
    mapView={section.mapView}
  >
    {section.content.map((item) => {
      switch (item.type) {
        case 'text':
          return (
            <Text>
              {item.data.heading && <h4>{item.data.heading}</h4>}
              {item.data.paragraphs?.map((p) => <p>{p}</p>)}
              {item.data.subheading && <h6>{item.data.subheading}</h6>}
              {item.data.paragraphs?.map((p) => <p>{p}</p>)}
              {item.data.additionalSubheading && <h6>{item.data.additionalSubheading}</h6>}
            </Text>
          );
        case 'spacer':
          return <Spacer desktop={item.desktop} />;
        case 'textPlaceholder':
          return <Text><TextPlaceholder /></Text>;
        case 'mapView':
          return <MapView mapView={item.mapView} />;
        default:
          return null;
      }
    })}
  </Map>
))}
