---
import Layout from "../layouts/Layout.astro";
import MapBox from "../components/MapBox.astro";
import Group from "../components/Group.astro";
import Map from "../components/Map.astro";
import Text from "../components/Text.astro";
import MapView from "../components/MapView.astro";

import Image from "astro/components/Image.astro";
import img from "../assets/images/group-bg.png";
import imgMap from "../assets/images/map.png";
import Spacer from "../components/Spacer.astro";
import ColumnSticky from "../components/ColumnSticky.astro";
import Column from "../components/Column.astro";
import Columns from "../components/Columns.astro";
import TextPlaceholder from "../components/TextPlaceholder.astro";
import Pullquote from "../components/Pullquote.astro";
import VideoEmbed from "../components/VideoEmbed.astro";
import ImageBlock from "../components/ImageBlock.astro";
---

<Layout title="Documental.xyz">
  <main>
    <MapBox />
    <!-- MapBox deve ser sempre o primeiro componente -->
    
    <Group txtColor="#F0EAD9" bgColor="#006949" imgBg={img.src}>
      <ColumnSticky paddingTop paddingBottom layout="text-bigger">
        <h1 slot="title">ALTER DO CHÃO ALSO NEEDS TO BE RECOGNIZED</h1>
        <Text>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
            aliquid ex ea commodi consequatur? Quis autem vel eum iure
            reprehenderit qui in ea voluptate velit esse quam nihil molestiae
            consequatur, vel illum qui dolorem eum fugiat quo voluptas. Nemo
            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit.
          </p>
        </Text>
      </ColumnSticky>
    </Group>
    <Group txtColor="#364849" bgColor="#F0EAD9">
      <Columns alignment="33-66">
        <Fragment slot="column-1">
          <Text>
            <h6>
              SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT VOLUPTATEM
              ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM
            </h6>
          </Text>
        </Fragment>
        <Fragment slot="column-2">
          <Text hasDropCap>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia non numquam eius modi tempora incidunt ut labore
              et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
              veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
              voluptas. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
              aut odit aut fugit, sed quia consequuntur magni dolores eos qui
              ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
            </p>
            <p>
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velit, sed quia non numquam eius modi
              tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
              ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
              consequatur? Quis autem vel eum iure reprehenderit qui in ea
              voluptate velit esse quam nihil molestiae consequatur, vel illum
              qui dolorem eum fugiat quo voluptas.
            </p>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt.
            </p>
          </Text>
        </Fragment>
      </Columns>
    </Group>
    <Map
      columnAlign="right"
      floatingText={false}
      txtColor="#F0EAD9"
      bgColor="#006A49"
      mapView="view_0"
    >
    <Text>
      <h4>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium
      </h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
        velit, sed quia non numquam eius modi tempora incidunt ut labore
        et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
        veniam, quis nostrum exercitationem ullam corporis suscipit
        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
        vel eum iure reprehenderit qui in ea voluptate velit esse quam
        nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
        aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
      </p>
    </Text>
    <MapView mapView="view_2" />
    <Pullquote>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam
      </p>
      <Fragment slot="byline">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium
      </Fragment>
    </Pullquote>
    <MapView mapView="view_3" />
    <Text>
      <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi
        tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
        ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
        consequatur? Quis autem vel eum iure reprehenderit qui in ea
        voluptate velit esse quam nihil molestiae consequatur, vel illum
        qui dolorem eum fugiat quo voluptas.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
      </p>
    </Text>
      
    </Map>
    <Group txtColor="#364849" bgColor="#F0EAD9">
      <Columns>
        <Fragment slot="column-1">
          <Text>
            <TextPlaceholder />
          </Text>
        </Fragment>
        <Fragment slot="column-2">
          <ImageBlock src={imgMap}>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam
          </ImageBlock>
        </Fragment>
      </Columns>
    </Group>
    <Group txtColor="#F0EAD9" overlay="dark" bgColor="#006949" imgBg={img.src}>
      <Column>
        <VideoEmbed wide>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/TcJUSMiKQyY?si=hke7RMtO71mJ9wif"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
          <Fragment slot="caption"
            >Quis do consequat sint commodo excepteur elit mollit officia sint
            sunt.</Fragment
          >
        </VideoEmbed>
        <Text>
          <h2>
            Et voluptate dolor quis qui eiusmod fugiat in Lorem exercitation
            consequat ex labore quis laboris.
          </h2>

          <p>
            Soluptate est labore sit tempor exercitation nisi eiusmod pariatur
            magna est aliqua. Magna laborum elit mollit ea occaecat incididunt
            Lorem Lorem incididunt nisi esse fugiat anim exercitation. Mollit
            velit laboris adipisicing enim ad eiusmod deserunt veniam nulla
            adipisicing amet pariatur nostrud exercitation. Velit laborum
            occaecat nulla ex nulla esse laborum ex duis duis magna. Ipsum
            laboris commodo do do eiusmod. Consectetur culpa fugiat occaecat
            enim ullamco tempor amet velit duis culpa commodo dolor minim. Ea
            sunt culpa id ea amet.
          </p>

          <p>
            Voluptate est labore sit tempor exercitation nisi eiusmod pariatur
            magna est aliqua. Magna laborum elit mollit ea occaecat incididunt
            Lorem Lorem incididunt nisi esse fugiat anim exercitation. Mollit
            velit laboris adipisicing enim ad eiusmod deserunt veniam nulla
            adipisicing amet pariatur nostrud exercitation. Velit laborum
            occaecat nulla ex nulla esse laborum ex duis duis magna. Ipsum
            laboris commodo do do eiusmod. Consectetur culpa fugiat occaecat
            enim ullamco tempor amet velit duis culpa commodo dolor minim. Ea
            sunt culpa id ea amet.
          </p>
        </Text>
        <ImageBlock src={imgMap} alt="">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium
        </ImageBlock>
      </Column>
    </Group>

    <Map
      columnAlign="left"
      floatingText
      txtColor="#F0EAD9"
      bgColor="#006A49"
      mapView="view_1"
    >
    <Text>
      <h4>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium
      </h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium,
        <br><br>
        totam rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt explicabo nemo enim ipsam voluptatem
      </p>
    </Text>
    <Spacer desktop="160px" />
    <Text>
      <h6>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium
      </h6>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt explicabo nemo enim ipsam voluptatem
      </p>
      <h6>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium
      </h6>
    </Text>
    </Map>
    <Map
    columnAlign="left"
    floatingText={false}
    txtColor="#F0EAD9"
    bgColor="#000000"
    mapView="view_2"
  >
  <MapView mapView="view_2" />
    <Text>
      <TextPlaceholder />
    </Text>
    </Map>
    <Map
    columnAlign="left"
    floatingText={false}
    txtColor="#F0EAD9"
    bgColor="#000000"
    mapView="view_2"
  >
  <MapView mapView="view_2" />
    <Text>
      <TextPlaceholder />
    </Text>
    </Map>
  <Map
    columnAlign="left"
    floatingText={true}
    txtColor="#F0EAD9"
    bgColor="#000000"
    mapView="view_3"
  >
    <Text>
      <TextPlaceholder />
    </Text>
  </Map>
  <Map
    columnAlign="left"
    floatingText={false}
    txtColor="#F0EAD9"
    bgColor="#000000"
    mapView="view_4"
  >
    

    <!-- <Group txtColor="#F0EAD9" bgColor="#006949">
      <ColumnSticky paddingTop paddingBottom>
        <h1 slot="title">
          Voluptate eu et labore ut ea tempor aliqua ipsum enim et aliqua dolor
          non.
        </h1>
        <Text />
      </ColumnSticky>
    </Group>
    <Map
      columnAlign="left"
      floatingText={false}
      txtColor="#F0EAD9"
      bgColor="#000000"
      mapView="view_2"
    >
      <Text>
        <TextPlaceholder />
      </Text>
    </Map>
    <Map
      columnAlign="left"
      floatingText={false}
      txtColor="#F0EAD9"
      bgColor="#000000"
      mapView="view_3"
    >
      <Text>
        <TextPlaceholder />
      </Text>
    </Map>
    <Map
      columnAlign="left"
      floatingText={false}
      txtColor="#F0EAD9"
      bgColor="#000000"
      mapView="view_4"
    >
      <Text>
        <TextPlaceholder />
      </Text>
    </Map> -->

    <!-- <Map columnAlign="right" floatingText={false} txtColor="#F0EAD9" bgColor="#000000" mapView="view_1">
      <Text>
        <TextPlaceholder />
      </Text>
    </Map> -->

    <!-- <Group txtColor="#F0EAD9" overlay="dark" bgColor="#006949" imgBg={img.src} >
      <Columns invertOnMobile alignment="33-66">
        <Fragment slot="column-2">
          <VideoEmbed wide>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TcJUSMiKQyY?si=hke7RMtO71mJ9wif" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <Fragment slot="caption">Quis do consequat sint commodo excepteur elit mollit officia sint sunt.</Fragment>
          </VideoEmbed>
          <Text  hasDropCap={true}>
            <TextPlaceholder />
          </Text>
          <Pullquote>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
            </p>
            <Fragment slot="byline">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
            </Fragment>
          </Pullquote>
        </Fragment>
        
        <ImageBlock slot="column-1" src={imgMap} alt="" wide>
          <Fragment slot="caption">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
          </Fragment>
        </ImageBlock>
      </Columns>
      <Column>
        <ImageBlock src={imgMap} alt="" wide>
          <Fragment slot="caption">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
          </Fragment>
        </ImageBlock>
        <VideoEmbed wide>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TcJUSMiKQyY?si=hke7RMtO71mJ9wif" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <Fragment slot="caption">Quis do consequat sint commodo excepteur elit mollit officia sint sunt.</Fragment>
        </VideoEmbed>
        <Text>
          <TextPlaceholder />
        </Text>
      </Column>
    </Group>

    <Group txtColor="#F0EAD9" overlay="dark" bgColor="#006949" imgBg={img.src}>
      <Column>
        <VideoEmbed wide>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TcJUSMiKQyY?si=hke7RMtO71mJ9wif" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <Fragment slot="caption">Quis do consequat sint commodo excepteur elit mollit officia sint sunt.</Fragment>
        </VideoEmbed>
        <Text>
          <TextPlaceholder />
        </Text>
      </Column>
    </Group>
    
    <Spacer desktop="100vh"; tablet="50vh" mobile="200px" />

    <Group txtColor="#F0EAD9" bgColor="#006949">
      <ColumnSticky paddingTop paddingBottom layout="text-bigger">
        <h1 slot="title">
          ALTER DO CHÃO ALSO NEEDS TO BE RECOGNIZED
        </h1>
        <Text />
      </ColumnSticky>
    </Group>
    <Group txtColor="#f2f2f2" imgBg={img.src} overlay="color" bgColor="#006949">
      <Column>
        <Text>
          <TextPlaceholder />
        </Text>
      </Column>
    </Group> -->
  </main>
</Layout>

<style lang="scss">
  main {
    background-color: var(--clr-bg, transparent);

    :global(> .spacer) {
      position: relative;
      background-color: inherit;
    }
  }
</style>
