---
const { Component, props } = Astro.props;
const { id, txtColor, bgColor, backgroundImage, overlay } = props;

let imgSrc;
if (backgroundImage) {
    imgSrc = `${import.meta.env.BASE_URL}${backgroundImage}`;

}
---
<section id={id} style={{ backgroundColor: 'var(--clr-bg, transparent)' }}>
    <Component txtColor={txtColor} bgColor={bgColor} imgBg={imgSrc} overlay={overlay} >
        <slot />
    </Component>
</section>