---
// src/pages/index.astro
import '../assets/styles/main.scss';

interface Props {
	title: string;
	pageTheme?: any;
}

const { title, pageTheme = {} } = Astro.props;

const primaryColor = pageTheme?.primaryColor || '#000';
const secondaryColor = pageTheme?.secondaryColor || '';
const highlightColor = pageTheme?.highlightColor || '';
const auxiliaryColor = pageTheme?.auxiliaryColor || '';
const displayFont = pageTheme?.displayFont || '';
const textFont = pageTheme?.textFont || '';
const spacingPatterns = pageTheme?.spacingPatterns || [];

const getFontName = (url) => {
  if (!url) return '';
  const fontName = url.match(/family=([^&:]+)/)?.[1];
  return fontName ? fontName.replace(/\+/g, ' ') : '';
};

const displayFontName = getFontName(displayFont);
const textFontName = getFontName(textFont);

const styleString = spacingPatterns.map(pattern => `
  --mt-${pattern.name}-mobile: ${pattern.mobile};
  --mt-${pattern.name}-tablet: ${pattern.tablet};
  --mt-${pattern.name}-desktop: ${pattern.desktop};
`).join('\n');
---

<!doctype html>
<html lang="en" style={`
    --clr-txt: ${primaryColor};
	--clr-bg: ${secondaryColor};
	--clr-bg-hl: ${highlightColor};
    --clr-hl: ${auxiliaryColor};

	${displayFont ? `--ff-display: ${displayFontName};` : ''}
    ${textFont ? `--ff-text: ${textFontName};` : ''}
    
    ${styleString}
	
`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={displayFont} />
		<link rel="stylesheet" href={textFont} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<script src="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.js"></script>
    	<link href="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.css" rel="stylesheet">
		<script src="../assets/scripts/App.js"></script>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style={`${!secondaryColor ? 'background-color: transparent !important;' : ''}`}>
		<slot />
	</body>
</html>

<script>
	const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
	isSafari && document.body.classList.add('is-safari');
</script>

<style lang="scss">
	@use "../assets/styles/config/config" as *;

	:global(:root) {
		--map-height-mobile: 52vh;

		--mt-s: var(--mt-default-mobile, 40px);
		--mt-m: var(--mt-default-tablet, 80px);
		--mt-l: var(--mt-default-desktop, 120px);

		@include media-break-down(xl) {
			--mt-s: var(--mt-default-mobile, 30px);
			--mt-m: var(--mt-default-tablet, 60px);
			--mt-l: var(--mt-default-desktop, 90px);
		}
	}
</style>
