---
const { Component, props } = Astro.props;
const { id, columnAlign, floatingText, txtColor, bgColor, mapView, ...otherProps } = props;
---

<section id={id} style={{ backgroundColor: 'var(--clr-bg, transparent)' }}>
  <Component
    columnAlign={columnAlign}
    floatingText={floatingText}
    txtColor={txtColor}
    bgColor={bgColor}
    mapView={mapView}
    {...otherProps}
  >
    <slot />
  </Component>
</section>